<!DOCTYPE html>
<html>
  <head>
    <title>Blog2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
         <%= image_tag "" %>
      <% end %>
    </div>
    <ul>
      <li class="category">Website</li>
      <li><%= link_to "Blog", root_path %></li>
      <li> <%= link_to "About", about_path %></li>
    </ul>

    <ul>
      <li class="category">Social networks:</li>
      <li><a href="https://twitter.com/skandows">Twitter</a></li>
      <li><a href="https://www.instagram.com/fcbayern/">Instagram</a></li>
      <li><a href="https://github.com/swodnaks">GitHub</a></li>
    </ul>


    <% if !user_signed_in? %>
      <p class ="sign_in">Admin Login</p>
    <% end %>
</div>

<div id="main_content">
  <div id="header">
    <% if current_page?(root_path) %>
				<p>All Posts</p>
			<% elsif current_page?(about_path) %>
				<p>About</p>
			<% else %>
				<%= link_to "Back to All Posts", root_path %>
			<% end %>

      <p>Find posts</p>
        <form action="/search" method="get">
          <div class="input-group input-inline search">
            <input class="form-input" type="text" name="query" placeholder="search">
             <button class="btn btn-primary input-group-btn">Search</button>
               </div>
              </form>

   <% if user_signed_in? %>
    <div class ="buttons">
      <button class="button"><%= link_to "New Post", new_post_path %></
        button>
        <button class="button"><%= link_to('Log out', destroy_user_session_path,
           :method => 'delete')%> </button>
      </div
  <% end %>
    </div>

  <% flash.each do |name, msg|%>
   <%= content_tag(:div, msg, class: "alert") %>
  <% end %>

   <%= yield %>
</div>

  </body>
</html>
